$grapeseed-color: #620cad;
$font-family: "Open Sans", sans-serif;

#top-navigation {
  margin-top: 30px;
  #logo {
    a {
      float: left;
      width: 120px;
      height: 70px;
      // background: url(../../images/logo.png) no-repeat;
      display: block;
      font-size: 0;
      background-size: cover;
      margin-top: -15px;
    }
  }

  nav {
    float: right;
    padding: 0;
    a {
      font-family: $font-family;
      color: #333;
      font-size: 14px;
      font-weight: 400;
      transition: all 0.1s;

      &.nav-link {
        padding: 10px 20px;
        margin: 0 5px;
      }

      &.active,
      &:hover {
        background: $grapeseed-color;
        border-radius: 40px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
      }
    }

    .dropdown-menu {
      a {
        &.active,
        &:hover {
          background: #f8f1ff;
          border-radius: 0;
          color: #000;
        }
      }
    }
  }
}
