.account-manager {
  background: #f6f7f9;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  padding: 15px;
  font-family: "Open Sans", sans-serif;
  position: relative;
  cursor: pointer;

  &.remove {
    text-decoration: line-through;
    background: #ffe2cd;
  }

  .short-name {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    border-radius: 50%;
    background: #906bb1;
    margin-right: 5px;
    float: left;
    text-transform: uppercase;
  }

  .name {
    margin: 0;
    font-size: 12px;
  }

  .status-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    text-align: center;
    small {
      font-size: 12px;
      display: block;
    }
  }
}
