body {
  background: url(../images/body-bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#main-body {
  margin-top: 40px;
}

// BUTTON
%btn-grape-style {
  border-radius: 20px;
  border: 0;
  padding: 10px 15px;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
  font-family: $header-family;
  outline: none !important;
}

.btn-grape-white {
  background: #fff;
  @extend %btn-grape-style;
}
.btn-grape {
  background: $grapeseed-color;
  color: #fff;
  @extend %btn-grape-style;
  // border-radius: 20px;
  // border: 0;
  // padding: 10px 15px;
  // transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  // box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
  // font-family: $header-family;
  // outline: none !important;

  &:hover {
    background: lighten($grapeseed-color, 5%);
    color: #fff;
  }

  &.btn-big {
    font-size: 20px;
    border-radius: 40px;
    padding: 15px 28px;
    font-weight: 300;
  }

  &.btn-long {
    width: 150px;
  }
}

.clear {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

//box header
.box-header {
  font-family: $header-family;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 15px;
  margin-top: -15px;
}

// file upload
input[type="file"] {
  background: #f8f8f8;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
  border-radius: 40px;
  margin-right: 30px;
}

.tab-pane.container {
  border: 1px solid #ddd;
  border-top: 0;
  padding: 20px;
  padding-top: 25px;
}
