label {
  font-size: 15px;
  color: #333;
}

.text-danger {
  color: #f92c40 !important;
}

.small,
small {
  font-size: 90%;
}

//confirm dialog
.react-confirm-alert-body {
  h1 {
    font-family: $header-family !important;
    font-weight: 400;
    font-size: 20px;
  }
}

.react-confirm-alert-button-group > button {
  background: $grapeseed-color !important;
  transition: all 0.2s;
  &:hover {
    background: lighten($grapeseed-color, 1%);
  }
}

.react-confirm-alert-button-group {
  justify-content: flex-end !important;
}

.swal-button:not(.swal-button--cancel) {
  background: $grapeseed-color;
  &:hover {
    background: lighten($grapeseed-color, 5%) !important;
  }
}

.text-danger-2 {
  color: #ff7885 !important;
}
