.loading-mask{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6);
    &:after{
        content:'';
        display: block;
        background: url(../../images/loading-mask.gif) no-repeat;
        width: 50px;
        height: 50px;
        background-size: cover;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
    } 
}