.login-page {
  // background: #fff;
}

#login-form {
  margin-top: 50%;
  background: #fff;
  padding: 30px;
  border-radius: 15px;

  h2 {
    font-family: $header-family;
    margin-bottom: 30px;
    font-weight: 300;
  }

  #logo-img {
    background: url(../../images/logo.png) no-repeat;
    width: 120px;
    height: 60px;
    background-size: cover;
    margin: 0px auto;
  }

  .login-form-control {
    display: block;
    border: 0;
    border-bottom: 1px solid #ddd;
    margin: 35px 0;
    outline: none;
    padding: 5px 10px;
    width: 100%;
  }

  .btn-grape {
    width: 150px;
  }
}
