#top-navigation {
  margin-top: 30px;
  #logo {
    a {
      float: left;
      width: 120px;
      height: 70px;
      background: url(../../images/logo.png) no-repeat;
      display: block;
      font-size: 0;
      background-size: cover;
      margin-top: -15px;
    }
  }

  nav {
    float: right;
    a {
      font-family: $header-family;
      color: #333;
      padding: 10px 20px;
      font-weight: 400;
      transition: all 0.1s;
      margin: 0 5px;
      &.active,
      &:hover {
        background: $grapeseed-color;
        border-radius: 40px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
