body {
  background: url(../images/body-bg.jpg);
  background-size: 100%;
  background-attachment: fixed;
}

// BUTTON
.btn-grape {
  background: $grapeseed-color;
  color: #fff;
  border-radius: 20px;
  border: 0;
  padding: 10px 15px;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
  font-family: $header-family;
  &:hover {
    background: lighten($grapeseed-color, 5%);
    color: #fff;
  }

  &.btn-big {
    font-size: 20px;
    border-radius: 40px;
    padding: 15px 28px;
    font-weight: 300;
  }
}


//TABS
@media (min-width: 576px) {
  .rounded-nav {
    border-radius: 50rem !important;
  }
}

@media (min-width: 576px) {
  .rounded-nav .nav-link {
    border-radius: 50rem !important;
  }
}

/* With arrow tabs */

.with-arrow .nav-link.active {
  position: relative;
}

.with-arrow .nav-link.active::after {
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid $grapeseed-color;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

/* lined tabs */

.lined .nav-link {
  border: none;
  border-bottom: 3px solid transparent;
  font-family: $header-family;
  font-size: 14px;
  letter-spacing: 0.5px;
  color:#333;
}

.lined .nav-link:hover {
  border: none;
  border-bottom: 3px solid transparent;
}

.lined .nav-link.active {
  background: none;
  color: $grapeseed-color;
  border-color: $grapeseed-color;
}

.clear {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

#main-body {
  margin-top: 80px;
}
